text {
    fill: blue;
    font-size: 10px;
    font-weight: bold; 
    font-family: Arial;
    visibility: visible;
}
rect{
    background-color: blue;
    width: 60px;
    height: 40px;
}
rect:hover{
    border: 2px solid red;
}