.child-container{
    stroke: yellow;
    x: 0;
    y: 15;
    fill: white;
    stroke: rgb(230, 153, 0);
}
.text-container{
    stroke: yellow;
    x: 0;
    y: 0;
    fill: rgb(255, 221, 51);
    stroke: rgb(230, 153, 0);
}
.name{
    fill: rgb(154, 102, 0);
    font-family: Arial;
    font-size: 10px;
    font-family: Arial;
    font-weight: bold;
}
.state{
    x: 5;
    y: 2;
}
/*.node:hover .child-container{
    stroke-width: 2;
    fill: rgb(53, 155, 251);
}
.node:hover .text-container{
    stroke-width: 2;
}*/