.child-container{
    stroke: yellow;
    x: 0;
    y: 15;
    fill: white;
    stroke: rgb(230, 153, 0);
}
.text-container{
    stroke: yellow;
    x: 0;
    y: 0;
    fill: rgb(255, 221, 51);
    stroke: rgb(230, 153, 0);
}
.name{
    fill: rgb(154, 102, 0);
    font-family: Arial;
    font-size: 10px;
    font-family: Arial;
    font-weight: bold;
}
.state{
    height: 10px;
    width: 10px;
    x: 5;
    y: 02;
}